#sidebar {
  background: rgb(254, 201, 201);
  border-right: .25rem solid rgb(254, 254, 254);
  box-shadow: 1px 0px 5px rgba(0,0,0,0.3);
  height: 100%;
  overflow: scroll;
  position: fixed;
  width: 25%;
  z-index: 3;
}

#sidebar-bottom {
  background: rgb(254, 231, 231);
  border-right: .25rem solid rgb(254, 254, 254);
  box-shadow: 1px 0px 5px rgba(0,0,0,0.3);
  height: 10%;
  overflow: scroll;
  position: fixed;
  width: 25%;
  z-index: 4;
  bottom: 0;
}

#sidebar button:hover span {
  color: rgb(250, 231, 199);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #3b444b;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-title {
  font-size: 1.65em;
  margin-left: 2px;
}
